
<div class="page-wrapper">
<router-outlet></router-outlet>
<!-- Mouse Cursor Start -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

<!-- Back To Top Start -->
<button id="back-top" class="back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
</button>

<!-- Offcanvas Area Start -->
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logosms.png" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <p class="text d-none d-xl-block">
                    SMSLABS es una empresa líder en el sector de los servicios de mensajería y marketing digital, con una experiencia de más de 10 años en el mercado.
                </p>
                <div class="mobile-menu fix mb-3"></div>
                <div class="offcanvas__contact">
                    <h4>Contáctanos</h4>
                    <ul>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a target="_blank">Providencia, Chile</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="mailto:smslabs.cl@gmail.com"><span
                                        class="mailto:smslabs.cl@gmail.com">... </span></a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="tel:+56981234567">+56981234567</a>
                            </div>
                        </li>
                    </ul>
                    <div class="header-button mt-4">
                        <a  class="theme-btn text-center">
                            <span>Hablemos<i class="fa-solid fa-arrow-right-long"></i></span>
                        </a>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        <a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                        <a href="index.html#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>

<!-- Header Section Start -->

<app-header></app-header>
<app-home [hidden]="global.activeRoute!='home'"></app-home>
<app-marketing [hidden]="global.activeRoute!='marketing'"></app-marketing>
<app-contact [hidden]="global.activeRoute!='contact'"></app-contact>
<app-about [hidden]="global.activeRoute!='about'"></app-about>
<app-whatsapp [hidden]="global.activeRoute!='whatsapp'"></app-whatsapp>
<app-sms [hidden]="global.activeRoute!='sms'"></app-sms>
<app-mailing [hidden]="global.activeRoute!='mailing'"></app-mailing>
<app-vlabs [hidden]="global.activeRoute!='vlabs'"></app-vlabs>
<app-chatbot [hidden]="global.activeRoute!='chatbot'"></app-chatbot>
<app-faqs [hidden]="global.activeRoute!='faqs'"></app-faqs>
<app-admin [hidden]="global.activeRoute!='admin'"></app-admin>
<app-blog [hidden]="global.activeRoute!='blog'"></app-blog>
<app-blog-detail [hidden]="global.activeRoute!='blog-detail'"></app-blog-detail>
<app-blog-form [hidden]="global.activeRoute!='blog-form'"></app-blog-form>
<app-login [hidden]="global.activeRoute!='login'"></app-login>
<app-footer></app-footer>
</div>
