<!-- Footer Section    S T A R T -->
<footer class="footer-section position-relative">
    <div class="footer-widgets-wrapper style1 fix">
        <div class="shape1"><img src="assets/images/shape/footerShape1_1.png" alt="shape"></div>
        <div class="shape2"><img src="assets/images/shape/footerShape1_2.png" alt="shape"></div>
        <div class="shape3"><img src="assets/images/shape/footerShape1_3.png" alt="shape"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a >
                                <img src="assets/images/logo/logosmsN.png" alt="logo-img" style="max-width: 30%;">
                            </a>
                        </div>
                        <div class="footer-content">
                            <h3>Siguenos en </h3>
                            <div class="store-links">
                                <div class="apple">
                                    <a >
                                        
                                        <i class="fa-brands fa-facebook-f"></i></a>
                                </div>
                                <div class="play">
                                    <a ><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3> Servicios </h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a >
                                    WhatsApp Business API
                                </a>
                            </li>
                            <li>
                                <a >
                                    SMS
                                </a>
                            </li>
                            <li>
                                <a >
                                    Mailing
                                </a>
                            </li>
                            <li>
                                <a >
                                    V-Labs
                                </a>
                            </li>
                            <li>
                                <a >
                                    Chatbot
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3> Empresa </h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a >
                                    Quienes somos
                                </a>
                            </li>
                            <li>
                                <a >
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a >
                                    Contacto
                                </a>
                            </li>
                            <li>
                                <a >
                                    Política de tratamiento de datos
                                </a>
                            </li>
                            <li>
                                <a >
                                    Terminos y Condiciones del servicio
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <div class="contact-box">
                            <div class="subtitle">Contáctanos</div>
                            <div class="text">Av. Providencia XXX.XXX <br>
                                Providencia, Santiago. Chile.
                            </div>
                            <div class="info">
                                <div class="icon">
                                    <i class="far fa-envelope" style="color: var(--theme4);"></i>
                                </div>
                                <div class="link">
                                    <li><a href="mailto:support@gmail.com">contacto&#64;smslabs.cl</a></li>
                                </div>
                            </div>
                            <div class="info">
                                <div class="icon">
                                    <i class="far fa-phone" style="color: var(--theme4);"></i>
                                </div>
                                <div class="link">
                                    <a href="tel:+5646821757">+56 4682 1757</a> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom style1">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    Copyright © SMSLABS 2025 Todos los derechos reservados
                </p>
            </div>
        </div>
    </div>
</footer>