<div class="page-wrapper">
    <!-- SECCIÓN PRINCIPAL -->
    <section class="wcu-section pb-5">
        <div class="wcu-container-wrapper style2">
            <div class="container">
                <div class="wcu-wrapper style2 section-padding fix">
                    <div class="container">
                        <div class="row gy-5 gx-60 d-flex align-items-center">
                           
                            <!-- Columna contenido (derecha) -->
                            <div class="col-xl-12">
                                <div class="wcu-content">
                                    <div class="section-title">
                                        <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
                                            Canales
                                        </div>
                                        <h2 class="title wow fadeInUp" data-wow-delay=".4s">
                                            Chatbot de Comunicación Omnicanal + IA
                                        </h2>
                                        <h3>
                                            Automatiza conversaciones, mejora tus procesos y vende más con chatbots diseñados a tu medida.
                                        </h3>
                                        <p class="text1 wow fadeInUp" data-wow-delay=".6s">
                                            Gestiona, dinamiza y personaliza la atención al cliente desde una única plataforma.<br>
                                            Responde millones de mensajes simultáneos, integra tu CRM, conecta APIs y optimiza tu presencia en redes sociales.<br>
                                            <b>Enfócate en crecer; nosotros creamos el asistente digital perfecto para maximizar tus resultados.</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin contenido -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECCIÓN DE FEATURES/BENEFICIOS -->
    <section class="feature-section fix section-padding pt-0">
        <div class="container">
            <h2 class="title wow fadeInUp" data-wow-delay=".4s" style="text-align: center; padding: 60px;">
                Conversa, resuelve y vende en todos tus canales con IA y automatización real.
            </h2>
            <div class="row g-4">
                <!-- SECCIÓN 1 -->
                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="feature-box-items">
                        <div class="icon">
                            <i class="fa-solid fa-comments"></i>
                        </div>
                        <div class="content">
                            <h4>Chatbots Omnicanal con IA listos para vender, atender y resolver</h4>
                            <p>Desarrollamos y configuramos agentes conversacionales inteligentes que operan en los canales donde están tus clientes: WhatsApp, Instagram, Facebook Messenger, Webchat, Email, y más.</p>
                            <ul>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> Conversaciones personalizadas y escalables.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> Automatización de ventas, pedidos y atención.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> Integración con CRM y sistemas internos vía API.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> Disponible 24/7 en todos tus canales.</li>
                            </ul>
                            <div class="col-6">
                            <a (click)="global.setRoute('contact')" class="hero-cta-main mt-2">
                                <i class="fa-solid fa-lightbulb"></i> Conoce cómo funciona
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SECCIÓN 2 -->
                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                    <div class="feature-box-items">
                        <div class="icon">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                        <div class="content">
                            <h4>Transformamos tu necesidad en una solución automatizada</h4>
                            <p>No necesitas saber de tecnología: nosotros hacemos todo por ti.</p>
                            <ul>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Diagnóstico personalizado:</b> Analizamos tu negocio y definimos objetivos conversacionales.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Diseño conversacional con IA:</b> Creamos flujos inteligentes basados en prompts y comportamiento del usuario.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Desarrollo e integración técnica:</b> Conectamos tu bot con tus plataformas, sistemas y canales.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Optimización y evolución constante:</b> Medimos resultados, ajustamos flujos y te acompañamos en todo momento.</li>
                            </ul>
                            <div class="col-6">
                            <a (click)="global.setRoute('contact')" class="hero-cta-secondary mt-2">
                                <i class="fa-regular fa-comments"></i> Agenda una asesoría gratuita
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SECCIÓN 3 -->
                <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay=".7s">
                    <div class="feature-box-items">
                        <div class="icon">
                            <i class="fa-solid fa-link"></i>
                        </div>
                        <div class="content">
                            <h4>Conecta tu bot en todos los canales que usa tu audiencia</h4>
                            <p>Integra tu asistente conversacional con canales de texto, voz, apps móviles y plataformas digitales, ya sea de forma directa o a través de nuestras APIs.</p>
                            <p> También puedes incorporar el bot como parte nativa en tus aplicaciones Android e iOS, con notificaciones, acciones dentro del app y sincronización de datos en tiempo real.</p>
                            <ul>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>WhatsApp:</b> Atiende desde el canal más usado del mundo. Somos WhatsApp Solution Provider.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Instagram & Facebook:</b> Automatiza comentarios, conecta múltiples agentes y centraliza la gestión de tus redes.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Messenger:</b> Gestiona conversaciones en simultáneo desde una sola plataforma.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>LinkedIn:</b> Responde comentarios de forma automatizada y organizada.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Telegram:</b> Comunicación ágil y masiva, ideal para envíos múltiples y gestión de comunidad.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Slack & Microsoft Teams:</b> Optimiza tu comunicación interna con bots integrados en tus plataformas colaborativas.</li>
                                <li><i class="fa-solid fa-check" style="padding-right: 1em;"></i> <b>Workplace:</b> Mejora la colaboración dentro de tu empresa con un bot en el entorno de Facebook Workplace.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECCIÓN CTA FINAL -->
    <div class="cta-area text-center pt-5 pb-4">
        <p class="fw-semibold mb-2" style="max-width:700px; margin:auto;">
            ¿Listo para llevar tu negocio al siguiente nivel con IA?<br>
            Haz que cada conversación cuente, incluso cuando no estás conectado.<br>
            Automatiza, escala y mejora tu atención al cliente con un chatbot creado especialmente para ti.<br>
            <b>Solicita tu demo gratuita y descubre cómo podemos ayudarte a crecer sin límites.</b>
        </p>
        <a (click)="global.setRoute('contact')" class="hero-cta-main me-3">
            <i class="fa-solid fa-bolt"></i> Quiero mi asesoría personalizada
        </a>
    </div>
</div>
